body
{
    font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif;
}

#settings .option
{
    margin-bottom: 5px;
    background: #ddd;
}

#settings .option div
{
    display: inline-block;
    padding: 10px;

}

#settings .option .button.active
{
    background: #ccc;
    cursor: pointer;
}

